@using Second.Models
@model IEnumerable<Friend>
@{
    ViewBag.Title = "View";
    Layout = "~/Views/Shared/_Layout.cshtml";

}

<h2>Friends</h2>

<table class="table">
    @foreach (Friend p in Model.OrderBy(f => f.FriendID))
    {
        <tr>
            <td>@p.FriendID</td>
            <td>@p.FriendName</td>
            <td>@p.Place</td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = p.FriendID })|
                @Html.ActionLink("Delete", "Delete", new { id = p.FriendID })|
            </td>
        </tr>
    }
</table>

<div>
    @Html.ActionLink("Create new record", "AddRecord")
</div>
